.App {
  text-align: center;
}

.loginContainer {
  direction: rtl;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  margin: auto;
  padding: 50px 70px;
}
.form {
  text-align: center;
  padding: 50px 70px;
  border: 300px #235;
  border-color: #235;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px 20px;
  height: 40%;
  width: 60%;
  background-color: rgba(128, 128, 128, 0.326);

}

.form-item{
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
}
#password {
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 20px;

}

#userName {
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  border-radius: 20px;
}
.btn {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #5791ff;
  color: white;
  margin-top: 0px;
  border: none;
  
}
